<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ncu.study.autopaper.dao.ext.QuestionExtMapper">

    <resultMap id="BaseResultMap" type="ncu.study.autopaper.model.Question">
        <constructor>
            <idArg column="QUESTION_ID" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="QUESTION_TYPE" javaType="java.lang.String" jdbcType="CHAR"/>
            <arg column="QUESTION_CLASS" javaType="java.lang.String" jdbcType="CHAR"/>
            <arg column="QUESTION_DIFFICULTY" javaType="java.lang.Double" jdbcType="DOUBLE"/>
            <arg column="POINT_NUMBER" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="POINT" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="SOURCE" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="USETIMES" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="TYPE" javaType="java.lang.String" jdbcType="CHAR"/>
            <arg column="QUESTION_SCORE" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="QUESTION_TIME" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="GRADE_NAME" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="COURSE_NAME" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="VERSION_NAME" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="CHAPTER_NAME" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="SELECTION_A" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="SELECTION_B" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="SELECTION_C" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="SELECTION_D" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="ANSWER" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="ANALYSIS" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="QUESTION_HOT" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="OWNNER" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="UPDATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="QUESTION_CONTENT" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="STATUS" javaType="java.lang.String" jdbcType="CHAR"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    QUESTION_ID, QUESTION_TYPE, QUESTION_CLASS, QUESTION_DIFFICULTY, POINT_NUMBER, POINT,
    SOURCE, USETIMES, TYPE, QUESTION_SCORE, QUESTION_TIME, GRADE_NAME, COURSE_NAME, VERSION_NAME,
    CHAPTER_NAME, SELECTION_A, SELECTION_B, SELECTION_C, SELECTION_D, ANSWER, ANALYSIS,
    QUESTION_HOT, OWNNER, CREATE_TIME, UPDATE_TIME, QUESTION_CONTENT, STATUS
  </sql>

    <select id="getSearchQuestions" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM question WHERE

        <if test="gradeName!=null and gradeName!=''">
            GRADE_NAME = #{gradeName} AND
        </if>
        <if test="courseName!=null and courseName!=''">
            COURSE_NAME = #{courseName} AND
        </if>

        <if test="questionType!=null and questionType!=''">
            QUESTION_TYPE = #{questionType} AND
        </if>
        <if test="content!=null and content!=''">
            QUESTION_CONTENT LIKE CONCAT('%',#{content},'%') AND
        </if>
        STATUS = '002'
        <if test="start!=null">
            LIMIT #{start},10
        </if>
    </select>


    <select id="getQuestionListByRuleOR" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM question WHERE

        <if test="questionType!=null and questionType!=''">
            QUESTION_TYPE = #{questionType} AND
        </if>
        (<if test="points!=null">
            <foreach collection="points" item="point" index="vs">
                <choose>
                    <when test="1+vs==pointsSum">
                        POINT LIKE CONCAT('%',#{point},'%')
                    </when>
                    <otherwise>
                        POINT LIKE CONCAT('%',#{point},'%') OR
                    </otherwise>
                </choose>
            </foreach>
        </if>)
        AND  STATUS = '002'
    </select>



    <select id="getQuestionListByTempQuestion" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM question WHERE

        <if test="questionType!=null and questionType!=''">
            QUESTION_TYPE = #{questionType} AND
        </if>
        <if test="questionId!=null">
            QUESTION_ID  !=  #{questionId} AND
        </if>
        <if test="questionScore!=null">
            QUESTION_SCORE = #{questionScore} AND
        </if>

        (<if test="points!=null">
            <foreach collection="points" item="point" index="vs">
                <choose>
                    <when test="1+vs==pointsSum">
                        POINT LIKE CONCAT('%',#{point},'%')
                    </when>
                    <otherwise>
                        POINT LIKE CONCAT('%',#{point},'%') OR
                    </otherwise>
                </choose>
            </foreach>
        </if>)
        AND  STATUS = '002'
    </select>


</mapper>