<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ncu.study.autopaper.dao.CoursesInfoMapper" >
  <resultMap id="BaseResultMap" type="ncu.study.autopaper.model.CoursesInfo" >
    <constructor >
      <idArg column="COURSE_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="GRADE" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="GRADE_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="COURSE" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="COURSE_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="VERSION" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="VERSION_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CHAPTER" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="CHAPTER_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="POINT" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="POINT_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    COURSE_ID, GRADE, GRADE_NAME, COURSE, COURSE_NAME, VERSION, VERSION_NAME, CHAPTER, 
    CHAPTER_NAME, POINT, POINT_NAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="ncu.study.autopaper.model.CoursesInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from courses_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from courses_info
    where COURSE_ID = #{courseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from courses_info
    where COURSE_ID = #{courseId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="ncu.study.autopaper.model.CoursesInfoExample" >
    delete from courses_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ncu.study.autopaper.model.CoursesInfo" >
    insert into courses_info (COURSE_ID, GRADE, GRADE_NAME, 
      COURSE, COURSE_NAME, VERSION, 
      VERSION_NAME, CHAPTER, CHAPTER_NAME, 
      POINT, POINT_NAME)
    values (#{courseId,jdbcType=INTEGER}, #{grade,jdbcType=CHAR}, #{gradeName,jdbcType=VARCHAR}, 
      #{course,jdbcType=CHAR}, #{courseName,jdbcType=VARCHAR}, #{version,jdbcType=CHAR}, 
      #{versionName,jdbcType=VARCHAR}, #{chapter,jdbcType=CHAR}, #{chapterName,jdbcType=VARCHAR}, 
      #{point,jdbcType=CHAR}, #{pointName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ncu.study.autopaper.model.CoursesInfo" >
    insert into courses_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        COURSE_ID,
      </if>
      <if test="grade != null" >
        GRADE,
      </if>
      <if test="gradeName != null" >
        GRADE_NAME,
      </if>
      <if test="course != null" >
        COURSE,
      </if>
      <if test="courseName != null" >
        COURSE_NAME,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="versionName != null" >
        VERSION_NAME,
      </if>
      <if test="chapter != null" >
        CHAPTER,
      </if>
      <if test="chapterName != null" >
        CHAPTER_NAME,
      </if>
      <if test="point != null" >
        POINT,
      </if>
      <if test="pointName != null" >
        POINT_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=CHAR},
      </if>
      <if test="gradeName != null" >
        #{gradeName,jdbcType=VARCHAR},
      </if>
      <if test="course != null" >
        #{course,jdbcType=CHAR},
      </if>
      <if test="courseName != null" >
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=CHAR},
      </if>
      <if test="versionName != null" >
        #{versionName,jdbcType=VARCHAR},
      </if>
      <if test="chapter != null" >
        #{chapter,jdbcType=CHAR},
      </if>
      <if test="chapterName != null" >
        #{chapterName,jdbcType=VARCHAR},
      </if>
      <if test="point != null" >
        #{point,jdbcType=CHAR},
      </if>
      <if test="pointName != null" >
        #{pointName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ncu.study.autopaper.model.CoursesInfoExample" resultType="java.lang.Integer" >
    select count(*) from courses_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update courses_info
    <set >
      <if test="record.courseId != null" >
        COURSE_ID = #{record.courseId,jdbcType=INTEGER},
      </if>
      <if test="record.grade != null" >
        GRADE = #{record.grade,jdbcType=CHAR},
      </if>
      <if test="record.gradeName != null" >
        GRADE_NAME = #{record.gradeName,jdbcType=VARCHAR},
      </if>
      <if test="record.course != null" >
        COURSE = #{record.course,jdbcType=CHAR},
      </if>
      <if test="record.courseName != null" >
        COURSE_NAME = #{record.courseName,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null" >
        VERSION = #{record.version,jdbcType=CHAR},
      </if>
      <if test="record.versionName != null" >
        VERSION_NAME = #{record.versionName,jdbcType=VARCHAR},
      </if>
      <if test="record.chapter != null" >
        CHAPTER = #{record.chapter,jdbcType=CHAR},
      </if>
      <if test="record.chapterName != null" >
        CHAPTER_NAME = #{record.chapterName,jdbcType=VARCHAR},
      </if>
      <if test="record.point != null" >
        POINT = #{record.point,jdbcType=CHAR},
      </if>
      <if test="record.pointName != null" >
        POINT_NAME = #{record.pointName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update courses_info
    set COURSE_ID = #{record.courseId,jdbcType=INTEGER},
      GRADE = #{record.grade,jdbcType=CHAR},
      GRADE_NAME = #{record.gradeName,jdbcType=VARCHAR},
      COURSE = #{record.course,jdbcType=CHAR},
      COURSE_NAME = #{record.courseName,jdbcType=VARCHAR},
      VERSION = #{record.version,jdbcType=CHAR},
      VERSION_NAME = #{record.versionName,jdbcType=VARCHAR},
      CHAPTER = #{record.chapter,jdbcType=CHAR},
      CHAPTER_NAME = #{record.chapterName,jdbcType=VARCHAR},
      POINT = #{record.point,jdbcType=CHAR},
      POINT_NAME = #{record.pointName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ncu.study.autopaper.model.CoursesInfo" >
    update courses_info
    <set >
      <if test="grade != null" >
        GRADE = #{grade,jdbcType=CHAR},
      </if>
      <if test="gradeName != null" >
        GRADE_NAME = #{gradeName,jdbcType=VARCHAR},
      </if>
      <if test="course != null" >
        COURSE = #{course,jdbcType=CHAR},
      </if>
      <if test="courseName != null" >
        COURSE_NAME = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=CHAR},
      </if>
      <if test="versionName != null" >
        VERSION_NAME = #{versionName,jdbcType=VARCHAR},
      </if>
      <if test="chapter != null" >
        CHAPTER = #{chapter,jdbcType=CHAR},
      </if>
      <if test="chapterName != null" >
        CHAPTER_NAME = #{chapterName,jdbcType=VARCHAR},
      </if>
      <if test="point != null" >
        POINT = #{point,jdbcType=CHAR},
      </if>
      <if test="pointName != null" >
        POINT_NAME = #{pointName,jdbcType=VARCHAR},
      </if>
    </set>
    where COURSE_ID = #{courseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ncu.study.autopaper.model.CoursesInfo" >
    update courses_info
    set GRADE = #{grade,jdbcType=CHAR},
      GRADE_NAME = #{gradeName,jdbcType=VARCHAR},
      COURSE = #{course,jdbcType=CHAR},
      COURSE_NAME = #{courseName,jdbcType=VARCHAR},
      VERSION = #{version,jdbcType=CHAR},
      VERSION_NAME = #{versionName,jdbcType=VARCHAR},
      CHAPTER = #{chapter,jdbcType=CHAR},
      CHAPTER_NAME = #{chapterName,jdbcType=VARCHAR},
      POINT = #{point,jdbcType=CHAR},
      POINT_NAME = #{pointName,jdbcType=VARCHAR}
    where COURSE_ID = #{courseId,jdbcType=INTEGER}
  </update>
</mapper>