<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ncu.study.autopaper.dao.QuestionErrorBookMapper">
  <resultMap id="BaseResultMap" type="ncu.study.autopaper.model.QuestionErrorBook">
    <constructor>
      <idArg column="USER_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="QUESTION_ID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="MY_SCORE" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="MY_ANSWER" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    USER_ID, QUESTION_ID, MY_SCORE, MY_ANSWER, CREATE_TIME
  </sql>
  <select id="selectByExample" parameterType="ncu.study.autopaper.model.QuestionErrorBookExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from question_error_book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="ncu.study.autopaper.model.QuestionErrorBookKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from question_error_book
    where USER_ID = #{userId,jdbcType=INTEGER}
      and QUESTION_ID = #{questionId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="ncu.study.autopaper.model.QuestionErrorBookKey">
    delete from question_error_book
    where USER_ID = #{userId,jdbcType=INTEGER}
      and QUESTION_ID = #{questionId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="ncu.study.autopaper.model.QuestionErrorBookExample">
    delete from question_error_book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ncu.study.autopaper.model.QuestionErrorBook">
    insert into question_error_book (USER_ID, QUESTION_ID, MY_SCORE, 
      MY_ANSWER, CREATE_TIME)
    values (#{userId,jdbcType=INTEGER}, #{questionId,jdbcType=BIGINT}, #{myScore,jdbcType=INTEGER}, 
      #{myAnswer,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="ncu.study.autopaper.model.QuestionErrorBook">
    insert into question_error_book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="questionId != null">
        QUESTION_ID,
      </if>
      <if test="myScore != null">
        MY_SCORE,
      </if>
      <if test="myAnswer != null">
        MY_ANSWER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="questionId != null">
        #{questionId,jdbcType=BIGINT},
      </if>
      <if test="myScore != null">
        #{myScore,jdbcType=INTEGER},
      </if>
      <if test="myAnswer != null">
        #{myAnswer,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ncu.study.autopaper.model.QuestionErrorBookExample" resultType="java.lang.Long">
    select count(*) from question_error_book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update question_error_book
    <set>
      <if test="record.userId != null">
        USER_ID = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.questionId != null">
        QUESTION_ID = #{record.questionId,jdbcType=BIGINT},
      </if>
      <if test="record.myScore != null">
        MY_SCORE = #{record.myScore,jdbcType=INTEGER},
      </if>
      <if test="record.myAnswer != null">
        MY_ANSWER = #{record.myAnswer,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update question_error_book
    set USER_ID = #{record.userId,jdbcType=INTEGER},
      QUESTION_ID = #{record.questionId,jdbcType=BIGINT},
      MY_SCORE = #{record.myScore,jdbcType=INTEGER},
      MY_ANSWER = #{record.myAnswer,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ncu.study.autopaper.model.QuestionErrorBook">
    update question_error_book
    <set>
      <if test="myScore != null">
        MY_SCORE = #{myScore,jdbcType=INTEGER},
      </if>
      <if test="myAnswer != null">
        MY_ANSWER = #{myAnswer,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=INTEGER}
      and QUESTION_ID = #{questionId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="ncu.study.autopaper.model.QuestionErrorBook">
    update question_error_book
    set MY_SCORE = #{myScore,jdbcType=INTEGER},
      MY_ANSWER = #{myAnswer,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where USER_ID = #{userId,jdbcType=INTEGER}
      and QUESTION_ID = #{questionId,jdbcType=BIGINT}
  </update>
</mapper>