<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ncu.study.autopaper.dao.QuestionBasketMapper">
  <resultMap id="BaseResultMap" type="ncu.study.autopaper.model.QuestionBasket">
    <constructor>
      <idArg column="USER_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="COURSE" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="GRADE" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="GRADE_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="COURSE_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="QUESTION_ID_COLLECTION" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="QUESTION_TYPE_COLLECTION" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="TYPE_COUNT_COLLECTION" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="TOTAL" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    USER_ID, COURSE, GRADE, GRADE_NAME, COURSE_NAME, QUESTION_ID_COLLECTION, QUESTION_TYPE_COLLECTION, 
    TYPE_COUNT_COLLECTION, TOTAL, CREATE_TIME
  </sql>
  <select id="selectByExample" parameterType="ncu.study.autopaper.model.QuestionBasketExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from question_basket
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="ncu.study.autopaper.model.QuestionBasketKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from question_basket
    where USER_ID = #{userId,jdbcType=INTEGER}
      and COURSE = #{course,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="ncu.study.autopaper.model.QuestionBasketKey">
    delete from question_basket
    where USER_ID = #{userId,jdbcType=INTEGER}
      and COURSE = #{course,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="ncu.study.autopaper.model.QuestionBasketExample">
    delete from question_basket
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ncu.study.autopaper.model.QuestionBasket">
    insert into question_basket (USER_ID, COURSE, GRADE, 
      GRADE_NAME, COURSE_NAME, QUESTION_ID_COLLECTION, 
      QUESTION_TYPE_COLLECTION, TYPE_COUNT_COLLECTION, 
      TOTAL, CREATE_TIME)
    values (#{userId,jdbcType=INTEGER}, #{course,jdbcType=CHAR}, #{grade,jdbcType=CHAR}, 
      #{gradeName,jdbcType=VARCHAR}, #{courseName,jdbcType=VARCHAR}, #{questionIdCollection,jdbcType=VARCHAR}, 
      #{questionTypeCollection,jdbcType=VARCHAR}, #{typeCountCollection,jdbcType=VARCHAR}, 
      #{total,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="ncu.study.autopaper.model.QuestionBasket">
    insert into question_basket
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="course != null">
        COURSE,
      </if>
      <if test="grade != null">
        GRADE,
      </if>
      <if test="gradeName != null">
        GRADE_NAME,
      </if>
      <if test="courseName != null">
        COURSE_NAME,
      </if>
      <if test="questionIdCollection != null">
        QUESTION_ID_COLLECTION,
      </if>
      <if test="questionTypeCollection != null">
        QUESTION_TYPE_COLLECTION,
      </if>
      <if test="typeCountCollection != null">
        TYPE_COUNT_COLLECTION,
      </if>
      <if test="total != null">
        TOTAL,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="course != null">
        #{course,jdbcType=CHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=CHAR},
      </if>
      <if test="gradeName != null">
        #{gradeName,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="questionIdCollection != null">
        #{questionIdCollection,jdbcType=VARCHAR},
      </if>
      <if test="questionTypeCollection != null">
        #{questionTypeCollection,jdbcType=VARCHAR},
      </if>
      <if test="typeCountCollection != null">
        #{typeCountCollection,jdbcType=VARCHAR},
      </if>
      <if test="total != null">
        #{total,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ncu.study.autopaper.model.QuestionBasketExample" resultType="java.lang.Long">
    select count(*) from question_basket
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update question_basket
    <set>
      <if test="record.userId != null">
        USER_ID = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.course != null">
        COURSE = #{record.course,jdbcType=CHAR},
      </if>
      <if test="record.grade != null">
        GRADE = #{record.grade,jdbcType=CHAR},
      </if>
      <if test="record.gradeName != null">
        GRADE_NAME = #{record.gradeName,jdbcType=VARCHAR},
      </if>
      <if test="record.courseName != null">
        COURSE_NAME = #{record.courseName,jdbcType=VARCHAR},
      </if>
      <if test="record.questionIdCollection != null">
        QUESTION_ID_COLLECTION = #{record.questionIdCollection,jdbcType=VARCHAR},
      </if>
      <if test="record.questionTypeCollection != null">
        QUESTION_TYPE_COLLECTION = #{record.questionTypeCollection,jdbcType=VARCHAR},
      </if>
      <if test="record.typeCountCollection != null">
        TYPE_COUNT_COLLECTION = #{record.typeCountCollection,jdbcType=VARCHAR},
      </if>
      <if test="record.total != null">
        TOTAL = #{record.total,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update question_basket
    set USER_ID = #{record.userId,jdbcType=INTEGER},
      COURSE = #{record.course,jdbcType=CHAR},
      GRADE = #{record.grade,jdbcType=CHAR},
      GRADE_NAME = #{record.gradeName,jdbcType=VARCHAR},
      COURSE_NAME = #{record.courseName,jdbcType=VARCHAR},
      QUESTION_ID_COLLECTION = #{record.questionIdCollection,jdbcType=VARCHAR},
      QUESTION_TYPE_COLLECTION = #{record.questionTypeCollection,jdbcType=VARCHAR},
      TYPE_COUNT_COLLECTION = #{record.typeCountCollection,jdbcType=VARCHAR},
      TOTAL = #{record.total,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ncu.study.autopaper.model.QuestionBasket">
    update question_basket
    <set>
      <if test="grade != null">
        GRADE = #{grade,jdbcType=CHAR},
      </if>
      <if test="gradeName != null">
        GRADE_NAME = #{gradeName,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null">
        COURSE_NAME = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="questionIdCollection != null">
        QUESTION_ID_COLLECTION = #{questionIdCollection,jdbcType=VARCHAR},
      </if>
      <if test="questionTypeCollection != null">
        QUESTION_TYPE_COLLECTION = #{questionTypeCollection,jdbcType=VARCHAR},
      </if>
      <if test="typeCountCollection != null">
        TYPE_COUNT_COLLECTION = #{typeCountCollection,jdbcType=VARCHAR},
      </if>
      <if test="total != null">
        TOTAL = #{total,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=INTEGER}
      and COURSE = #{course,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="ncu.study.autopaper.model.QuestionBasket">
    update question_basket
    set GRADE = #{grade,jdbcType=CHAR},
      GRADE_NAME = #{gradeName,jdbcType=VARCHAR},
      COURSE_NAME = #{courseName,jdbcType=VARCHAR},
      QUESTION_ID_COLLECTION = #{questionIdCollection,jdbcType=VARCHAR},
      QUESTION_TYPE_COLLECTION = #{questionTypeCollection,jdbcType=VARCHAR},
      TYPE_COUNT_COLLECTION = #{typeCountCollection,jdbcType=VARCHAR},
      TOTAL = #{total,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where USER_ID = #{userId,jdbcType=INTEGER}
      and COURSE = #{course,jdbcType=CHAR}
  </update>
</mapper>